@use "src/styles/mixin";
@import "src/styles/extend";

.board-card-content {
  width: 100%;
  @include mixin.flex(flex, column, start, start);
  border: 1px solid black;
  border-radius: 3px;
  background-color: #fff;
  @extend %default-font;

  p {
    margin: 10px;
    font-style: italic;
    text-shadow: none;
  }

}
