@use "src/styles/_mixin";
@import "src/styles/extend";
.home-board {
  position: relative;
  box-sizing: border-box;
  width: 250px;
  min-height: 140px;
  cursor: pointer;
  @extend %container-shadow;
  @include mixin.container(10px, 10px, 10px);
  @include mixin.flex(flex, column, start, start);

  div {
    width: 100%;
  }

  h2 {
    margin-block: 0 10px;
    @extend %h2-font;
  }

  p {
    margin: 0;
    @extend %default-font;
  }
}

.home-board-content {
  @include mixin.flex(flex, column, start, start);

  &__title {
    @include mixin.flex(flex, row, space-between, start);
  }
}

.home-board:hover {
  box-shadow: 5px 7px 8px black, 7px 9px 50px white;
}

.home-board:active {
  @include mixin.active-button(0, 0, 50px, white, 0, 2px);
}

