@use "src/styles/_mixin";
@import "src/styles/extend";
.home-board {
  position: relative;
  box-sizing: border-box;
  width: 250px;
  min-height: 140px;
  cursor: pointer;
  @extend %container-style;
  @include mixin.container(10px, 5px, 10px);
  @include mixin.flex(flex, column, center, center);

  div {
    width: 100%;
  }

  p {
    margin-top: 0;
    font-size: 16px;
  }
}

.home-board:hover {
  box-shadow: 5px 7px 8px black, 7px 9px 50px white;
}

.home-board:active {
  @include mixin.active-button(0, 0, 50px, white, 0, 2px);
}

.home-board__content {
  @include mixin.flex(flex, row, center,center);
}
