@use "../../styles/mixin";
@use "../../styles/variables";
@import "../../styles/extend";

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  @extend %default-font;
  font-family: "Vollkorn", "Times New Roman", "Tahoma", cursive;
  font-style: italic;

  .board-loading {
    text-align: center;
  }

  h1 {
    @extend %h1-font;
  }

  h2 {
    @extend %h2-font;
  }

  span {
    @extend %span-font;
  }

  .nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    @extend %container-style;

    .nav-bar__title {
      position: relative;
      margin-left: 10px;

      h1 {
        margin: 5px 0;
      }
    }
  }

  .lists {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
  }
}

footer {
  flex-shrink: 0;
}
