@use "src/styles/mixin";
@use "src/styles/variables";
@import "src/styles/extend";

.create-list-container {
  display: flex;
  justify-content: center;
  min-width: 250px;
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.3);
  @extend %container-style;
  @include mixin.container(10px, 5px, 10px);

  svg {
    fill: white;
  }

  span {
    color: white;
    font-weight: 600;
    font-size: 18px;
  }
}

.create-list-button {
  height: 40px;
  margin-right: 10px;
  @include mixin.configure-button(rgba(255, 255, 255, 0.5),
          white, 5px, 2px, 2px, black);
}

.create-list-button:active {
  @include mixin.active-button(0, 0, 0, transparent, 2px,2px);
}
