@use './_variables';
@use './mixin';

%default-font {
  font-family: "Cormorant", 'Times New Roman', 'Tahoma', sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
}

%h1-font {
  font-family: "Vollkorn","Times New Roman", "Tahoma", cursive;
  font-size: 35px;
  font-weight: 800;
}

%h2-font {
  font-family: "Vollkorn","Times New Roman", "Tahoma", cursive;
  font-style: italic;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
}

%span-font {
  font-family: "ABeeZee", "Times New Roman", "Tahoma", sans-serif;
  font-size: 16px;
}

%background {
  background-image: linear-gradient(to bottom right, variables.$board-color-1, variables.$board-color-2, variables.$board-color-3, variables.$board-color-4);
  //background-color: #FBCBBF;
  background-size: cover;
  background-position: center;
}

%container-style {
  box-shadow: 3px 5px 6px rgba(0, 0, 0, 0.5);
}

%title-input-style {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin:5px 0;

}

%title-input-error {
  color: red;
  font-family: "Times New Roman", sans-serif;
  font-style: normal;
  font-weight: 400;
}
