%default-font {
  font-family: "Cormorant", 'Times New Roman', 'Tahoma', sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
}

%h1-font {
  font-family: "Vollkorn","Times New Roman", "Tahoma", cursive;
  font-size: 25px;
  font-weight: 800;
}

%h2-font {
  font-family: "Vollkorn","Times New Roman", "Tahoma", cursive;
  font-style: italic;
  font-size: 25px;
  font-weight: 600;
  line-height: 20px;
}

%span-font {
  font-family: "ABeeZee", "Times New Roman", "Tahoma", sans-serif;
}
