@mixin container ($margin, $padding, $radius) {
  margin: $margin;
  padding: $padding;
  border-radius: $radius;
}

@mixin configure-button ($bg-color, $color, $radius, $shadowX, $shadowY, $sh-color) {
  background-color: $bg-color;
  color: $color;
  border-radius: $radius;
  box-shadow: $shadowX $shadowY $sh-color;
  border: none;
  cursor: pointer;
}

@mixin active-button($shadowX, $shadowY, $translateX, $translateY) {
  box-shadow: $shadowX $shadowY;
  transform: translate($translateX, $translateY);
}

