@mixin container ($margin, $padding, $radius) {
  margin: $margin;
  padding: $padding;
  border-radius: $radius;
}

@mixin flex ($display, $direction, $justify, $align) {
  display: $display;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin configure-button ($bg-color, $color, $radius, $shadowX, $shadowY, $sh-color) {
  background-color: $bg-color;
  color: $color;
  border-radius: $radius;
  box-shadow: $shadowX $shadowY $sh-color;
  border: none;
  cursor: pointer;
}

@mixin active-button($shadowX, $shadowY, $blur, $color, $translateX, $translateY) {
  box-shadow: $shadowX $shadowY $blur $color ;
  transform: translate($translateX, $translateY);
}


