@import '../../styles/_extend';

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  @extend %background;
  color: #fafafa;
  text-shadow: 1px 1px 1px black;

  .home-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @extend %container-shadow;
    color: #F6E8DF;
    background-color: #4165D5;
  }

  h1 {
    margin: 5px;
    @extend %h1-font;
  }

  a {
    text-decoration: none;
  }

  .home-section {
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
  }

  .home-footer{
    flex-shrink: 0;
  }
}
