@import '../../styles/_extend';

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  @extend %background;
  @extend %default-font;
  @extend %h2-font;
  color: #fafafa;
  text-align: center;

  .home-header {
    width: 90%;
    border-radius: 10px;
    @extend %container-style;

  }

  h1 {
    @extend %h1-font
  }

  a {
    text-decoration: none;
  }

  .home-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .home-footer{
    flex-shrink: 0;
  }
}
