.list-container {
  background-color: antiquewhite;
  border-radius: 5px;
  margin: 5px;

  .list-title {
    margin: 5px;
  }

  .list-button button {
      display: flex;
      flex-direction: row;
      align-items: center;
      border: none;
      background: none;
      cursor: pointer;
    }


}
