@use 'src/styles/mixin';
@use 'src/styles/variables';
@import "src/styles/extend";

.list-container {
  min-width: 250px;
  height: fit-content;
  background-color: variables.$list-bg-color;
  @extend %container-style;

  h2 {
    margin-top: 0;
  }

  .list-title {
    margin: 10px;
  }

  .add-card-button button:active {
    @include mixin.active-button(0, 0, 1px, 1px);

  }

}
