@use "../../styles/mixin";
@import "../../styles/extend";

.add-card-container {
  box-sizing: border-box;
  min-width: 250px;
  height: fit-content;
  cursor: pointer;
  @extend %container-style;
  @include mixin.container(10px, 5px, 10px);
  @include mixin.flex(flex, column, center, center);
}

.add-card-content {
  @include mixin.flex(flex, row, center, center);
  width: 100%;
}
.add-card-content__text {
  @extend %h2-font;
}

.add-card-container:hover {
  color: chartreuse;
  background-color: #6600ff;
  box-shadow: 5px 7px 8px black, 7px 9px 50px white;

  svg {
    fill: chartreuse;
  }
}

.add-card-container:active {
  @include mixin.active-button(0, 0, 50px, white, 0, 2px);
}
