@use "../../styles/mixin";
@import "../../styles/extend";

.add-card-container {
  position: relative;
  box-sizing: border-box;
  width: 250px;
  cursor: pointer;
  font-size: 24px;
  @extend %container-style;
  @include mixin.container(10px, 5px, 10px);
  @include mixin.flex(flex, column, center, center);
}

.add-card-container:hover {
  color: chartreuse;
  background-color: #6600ff;
  box-shadow: 5px 7px 8px black, 7px 9px 50px white;

  svg {
    fill: chartreuse;
  }
}

.add-card-container:active {
  @include mixin.active-button(0, 0, 50px, white, 0, 2px);
}

.add-card-content {
  @include mixin.flex(flex, row, center,center);
}
